.page-content {
  padding: 5px;
}

.form-container {
  padding: 0 5px;
}

.new-diceroll-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1024px) {
  .page-content {
    margin-top: 5px;
  }
  .new-diceroll-form {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}
