.new-diceroll-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-diceroll-form-control {
    width: 50% !important;
}

/* .new-diceroll-form-select {
  width: 50%;
} */
