.page-content {
  min-height: 100vh;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.overview-container {
  display: flex;
  flex-direction: column;
}
.tabs-container {
  display: hidden;
}
.accordion-container {
  width: 300px;
  margin: 0 auto;
}
.mobile-section-dropdown {
  margin: 0 5px 5px 5px;
  width: 200px;
  background-color: #e0e0e0;
}
.character-select {
  width: 200px;
  background-color: #e0e0e0;
}
.dice-size-dropdown {
  margin-bottom: 10px;
}

.stat-display {
  padding: 5px;
  margin: 5px;
}
.stat-display ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 10px;
}

.stat-display li {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  font-size: 1rem;
}

.stat-display li:last-child {
  border-bottom: none;
}

.overview-stat {
  margin: 0 5px 5px 5px; /* top, right, bottom, left */
}

.pie-chart-container {
  margin: 0px 5px 5px 5px;
}

@media screen and (min-width: 1024px) {
  .page-content {
    margin-top: 5px;
    min-height: auto;
  }
  .checkbox-container {
    flex-direction: row;
    justify-content: center;
  }
  .overview-stats-half {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .overview-stat {
    margin: 10px;
    padding: 5px;
  }
  .tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 10px;
    color: purple;
  }
  .section-tab {
    color: #e0e0e0;
  }
  .roll-types-section-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  .subsection-container {
    display: flex;
    flex-direction: column;
  }
  .subsection {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .stat-display {
    margin: 5px;
  }
  .pie-chart-container {
    margin: 5px;
  }
}
