.page-content {
  min-height: 100vh;
}

.checkbox-container {
  display: flex;
  flex-direction: column;
}

.overview-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 1024px) {
  .page-content {
    margin-top: 5px;
    min-height: auto;
  }
  .checkbox-container {
    flex-direction: row;
    justify-content: center;
  }
  .overview-stats-half {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .overview-stat {
    margin: 20px;
  }
  .tabs-container {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}
